
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
         
          <div class="card-body">
            <form (ngSubmit)="onSave()">
              <div class="form-group">
                <label for="username">Codigo</label>
                <input type="text" class="form-control" id="cd_tipoconta" name="cd_tipoconta" [(ngModel)]="cd_tipoconta" required>
              </div>
              <div class="form-group">
                <label for="text">Nome</label>
                <input type="text" class="form-control" id="cd_tipoconta" [(ngModel)]="nm_tipoconta" name="nm_tipoconta" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block" >Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



