<div class="container mt-4">

  <div class="mb-4" style="display: flex; flex-direction: row; justify-content: space-between;">
    <h2 class="mb-3">Lista de Contas </h2>
    <button class="btn btn-sm btn-success" (click)="onShow()">Novo</button>
  </div>

    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Codigo</th>
          <th>Nome</th>
          <th>Tipo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objeto of lista; let i = index">
          <td>{{ objeto.cd_conta }}</td>
          <td>{{ objeto.nm_conta }}</td>
          <td>{{tipoContaMap[objeto.id_tipoconta] }}</td>
          <td>
            <button class="btn btn-sm btn-primary me-1" (click)="onEdit(objeto)">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="onDelete(objeto)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  