<div class="container mt-4">
   
  <div class="mb-4" style="display: flex; flex-direction: row; justify-content: space-between;">
    <h2 class="mb-3">Lista de Tipos </h2>
    <button class="btn btn-sm btn-success" (click)="onShow()">Novo</button>
  </div>

    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Codigo</th>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipoconta of lista; let i = index">
          <td>{{ tipoconta.cd_tipoconta }}</td>
          <td>{{ tipoconta.nm_tipoconta }}</td>
          <td>
            <button class="btn btn-sm btn-primary me-1" (click)="onEdit(tipoconta)">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="remover(tipoconta)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  